.sticky-note-form-container {
    width: 100%;
}

.sticky-note-form-container .content {
    display: flex;
    position: relative;
}

.sticky-note-form-container .content .preview-section {
    width: 50%;
    padding: 20px;
    border-right: solid 1px var(--neutral-300);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky-note-form-container .content .form-section {
    width: 50%;
    padding: 5px 10px;
}

.sticky-note-form-container .content .form-section .form-input {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 15px;
}

.sticky-note-form-container .content .form-section .form-input .label{
    font-weight: 600;
    font-size: 16px;
}

.sticky-note-form-container .content .form-section .form-input input {
    height: 40px;
    border: solid 1px var(--neutral-400);
    border-radius: 8px;
    padding: 10px;
    font-size: 14px;
}

.sticky-note-form-container .content .form-section .form-input textarea {
    height: 80px;
    border: solid 1px var(--neutral-400);
    border-radius: 8px;
    padding: 10px;
    font-size: 14px;
}

.sticky-note-form-container .content .mobile-preview-section {
    display: none;
}

.sticky-note-form-container .action-buttons {
    padding-top: 20px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.sticky-note-form-container .action-buttons .display-preview-button {
    display: none;
}

@media screen and (max-width: 1100px) {
    .sticky-note-form-container .content .preview-section {
        display: none;
    }

    .sticky-note-form-container .content .form-section {
        width: 100%;
    }

    .sticky-note-form-container .content .mobile-preview-section {
        display: block;
        position: absolute;
        background-color: var(--white);
        height: calc(100% - 10px);
        width: calc(100% - 20px);
        transition: all 0.3s cubic-bezier(0.075, 0.885, 0.32, 1.275);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sticky-note-form-container .action-buttons .display-preview-button {
        display: block;
        margin-right: auto;
    }
}


