.modal-background {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;
    display: flex;
    overflow: hidden;
}

.modal-container {
    max-width: 80%;
    min-width: 1000px;
    background-color: var(--white);
    border: solid 1px var(--neutral-300);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 40px 40px 20px;
    opacity: 0.5;
    transform: translateY(100vh);
    transition: all 0.3s cubic-bezier(0.075, 0.885, 0.32, 1.275);
    max-height: 95%;
    overflow: hidden;
}

.modal-container > div:first-child {
    width: 100%;
}

.modal-container.show-modal {
    opacity: 1;
    transform: translateY(0);
}

.modal-container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: solid 1px var(--neutral-300);
}

.modal-container .header .close-modal-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 5px;
}

.modal-container .header .close-modal-button:hover {
    background-color: var(--neutral-250);
    cursor: pointer;
}

/* Handle MODAL position */
.modal-background.center {
    align-items: center;
    justify-content: center;
}

.modal-background.top-right {
    justify-content: end;
}

.modal-background.top-left {
    justify-content: start;
}

.modal-background.bottom-left {
    align-items: end;
    justify-content: start;
}

.modal-background.bottom-right {
    align-items: end;
    justify-content: end;
}

.modal-background.center .modal-container {
    border-radius: 10px;
}

.modal-background.top-right .modal-container {
    border-bottom-left-radius: 8px;
}

.modal-background.top-left .modal-container {
    border-bottom-right-radius: 8px;
}

.modal-background.bottom-left .modal-container {
    border-top-right-radius: 8px;
}

.modal-background.bottom-right .modal-container {
    border-top-left-radius: 8px;
}
